.newExpense {
    /* width: 681.15px; */
    background-color: white;
    height: 200px;
    border-radius: 12px;
    margin-top: 5rem;
    border-radius: 20px;

}

.prevDisplayform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #AF7AB3;
  border-radius: 20px;

}

.btn1 {
  all: unset;
  height: 4rem;
  width: 8rem;
  background-color: white;
  border-radius:20px;
  text-align: center;
  color: white;
  background-color: #E4D192;
  transition: all 0.2s ease;


}

.btn1:hover {
  color: white;
  transform: scale(1.1);

}
